html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	height: 100%;
	width: 100%;
	background-color: var(--bg-dark);
	font-family: var(--font-main);
}

body {
	color: var(--white);
}

ul {
	list-style: none;
	font-family: inherit;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

button {
	background: inherit;
	border: none;
	font-family: inherit;
	color: inherit;
}

section {
	height: 100vh;
	width: 100%;
	padding: 0 1rem;
}

.number {
	font-family: var(--font-menu);
	color: var(--color-main-1);
	font-size: 1.5rem;
	padding-right: 0.3rem;
	// font-weight: var(--font-weight-light1);
	font-weight: 100;
}

// .blobSvg {
// 	position: absolute;
// 	bottom: -5rem;
// 	opacity: 1;
// 	right: -10rem;
// 	width: 350px;
// 	height: 350px;
// }
.TestPage {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		// margin: auto;
	}
}
