html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: var(--bg-dark-2);
	font-family: var(--font-main);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

// body {
// 	// overflow-x: hidden;
// }

body {
	color: var(--white);
	width: 100%;
	min-height: 100%;
}
html {
	height: -webkit-fill-available;
}

ul {
	list-style: none;
	font-family: inherit;
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

button {
	background: inherit;
	border: none;
	font-family: inherit;
	color: inherit;
}

section {
	min-height: 100vh;
	height: -webkit-fill-available;
	width: 100%;
	padding: 0 1rem;
}

#tsparticles {
	z-index: 1;
}

.App {
	transition: all 0.2s ease-in-out;
	scroll-behavior: smooth;
	min-height: 100vh;
	width: 100vw;
	position: relative;
	max-height: -webkit-fill-available;
}

// .tech {
// 	margin-right: 1rem;
// }
.Overlay {
	position: fixed; /* Sit on top of the page content */
	// display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6); /* Black background with opacity */
	z-index: 39; /* Specify a stack order in case you're using a different order for other elements */
	// cursor: pointer; /* Add a pointer on hover */
}

.Tester {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(22, 22, 22);
	height: 100vh;
	min-height: 100vh;
	width: 100vw;
	transition: all 0.2s ease-in-out;
}

.number {
	font-family: var(--font-menu);
	color: var(--color-main-1);
	font-size: 1.5rem;
	padding-right: 0.3rem;
	// font-weight: var(--font-weight-light1);
	font-weight: 100;

	&.inverted {
		color: var(--black);
	}
}

// .blobSvg {
// 	position: absolute;
// 	bottom: -5rem;
// 	opacity: 1;
// 	right: -10rem;
// 	width: 350px;
// 	height: 350px;
// }
.TestPage {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	// h1 {
	// 	// margin: auto;
	// }
}

.pageTitle {
	font-weight: var(--font-weight-light1);
	text-transform: capitalize;
	font-size: 2.8rem;
	text-align: left;
	display: flex;
	align-items: center;
}
