.About {
	min-height: 100vh;
	// scroll-snap-align: start;
	padding: 0 1.6rem;
	padding-left: 2rem;
	padding-top: 5rem;
	padding-bottom: 2rem;
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)),
		url('../../assets/img/galaxy2.jpg') no-repeat 75% center / cover;

	&__title {
		margin-bottom: 2rem;
	}
	&__content {
		display: flex;
		flex-direction: column;
		p {
			// color: red;
			font-size: 1.2rem;
			letter-spacing: 0.8px;
			margin-bottom: 2rem;
			line-height: 1.35;
			font-weight: 300;
			font-family: var(--font-menu);

			&:last-of-type {
				margin-bottom: 0.2rem;
			}
		}
		circle {
			position: relative;
		}
		button {
			margin-top: 1.5rem;
			border: none;
			font-size: 3.65rem;
			// line-height: 2.5;
			// padding-bottom: 0.5rem;
			// padding-left: 0.3rem;
			width: 100%;
			height: 100%;
		}
	}
}
