.About {
	min-height: 100vh;
	// scroll-snap-align: start;
	padding: 0 1.6rem;
	padding-left: 2rem;
	padding-top: 5rem;
	padding-bottom: 2rem;
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)),
		url('../../assets/img/galaxy2.jpg') no-repeat 75% center / cover;

	&__title {
		margin-bottom: 2rem;
	}
	&__content {
		display: flex;
		flex-direction: column;
		p {
			// color: red;
			font-size: 1.5rem;
			letter-spacing: 0.3px;
			margin-bottom: 2rem;
			line-height: 1.2;
		}
		button {
			margin-top: 1.5rem;
		}
	}
}
