.Landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// height: 100vh;
	// min-height: -webkit-fill-available;
	padding: 0 1rem;
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)),
		url('../../assets/img/galaxy2.jpg') no-repeat 75% center / cover;

	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding-bottom: 3rem;
		position: relative;

		&--welcome {
			font-weight: var(--font-weight-light1);
			font-size: 2.2rem;
			line-height: 2;
			margin-top: 3.5rem;
		}

		&--name {
			margin-top: 0.5rem;
			font-size: 2.8rem;
			font-weight: var(--font-weight-light2);
		}

		&--description {
			font-size: 2rem;
			margin: 3rem 0 5rem 0;
			line-height: 1.5;
		}

		&--btnContainer {
			position: relative;
			margin-top: 1rem;
			padding: 0;
			font-size: 1.2rem;
			background-color: transparent;
			border: none;
			color: var(--white);
			text-transform: uppercase;
			font-weight: var(--font-weight-light1);
			border-radius: 50vw;
			height: 13.75rem;
			width: 13.75rem;
			font-size: 2rem;
			background-color: var(--color-main-1);
			animation: glow 3s linear alternate-reverse infinite;
			// animation: glow 10s alternate-reverse infinite;
			z-index: 50;
			&--btn {
				width: 100%;
				height: 100%;
				border-radius: 50vw;
				background-color: transparent;
				border: none;
				cursor: pointer;
				font-size: 1.7rem;
				background-color: transparent;
				border: none;
				color: var(--black);
				text-transform: uppercase;
				font-weight: var(--font-weight-light1);
			}
			.ray_box {
				// background-color: red;
				width: inherit;
				height: inherit;
				position: absolute;
				// top: 0%;
				// left: 0%;
				top: 0%;
				left: 0%;
				animation: ray_anim 120s linear infinite;
				// z-index: 1;
			}
			.ray {
				background: linear-gradient(
					to bottom,
					rgba(229, 255, 0, 0) 0%,
					rgba(255, 238, 0, 0.8) 30%,
					rgba(255, 251, 0, 0) 100%
				);

				// margin-left: 20px;
				// border-radius: 80% 80% 0 0;
				// border-radius: 80%;
				position: relative;
				display: block;
				opacity: 0.15;
				// z-index: -1;
			}

			.ray1 {
				height: 170px;
				width: 30px;
				transform: rotate(144deg);
				top: -95px;
				left: 15px;
			}
			.ray2 {
				height: 100px;
				width: 18px;
				transform: rotate(194deg);
				top: 0px;
				left: 75px;
			}
			.ray3 {
				height: 193px;
				// width: 70px;
				width: 21px;
				// background-color: red;
				transform: rotate(160deg);
				top: -171px;
				left: 122px;
			}
			.ray4 {
				height: 100px;
				width: 14px;
				transform: rotate(233deg);
				top: -321px;
				left: 6px;
			}
			.ray5 {
				height: 120px;
				width: 15px;
				transform: rotate(284deg);
				top: -534px;
				left: -25px;
			}
			.ray6 {
				height: 80px;
				width: 20px;
				transform: rotate(14deg);
				top: -751px;
				left: 119px;
			}
			.ray7 {
				height: 180px;
				width: 10px;
				transform: rotate(104deg);
				top: -715px;
				left: 233px;
			}
			.ray8 {
				height: 120px;
				width: 30px;
				transform: rotate(65deg);
				top: -974px;
				left: 232px;
			}
			.ray9 {
				height: 95px;
				width: 10px;
				transform: rotate(48deg);
				top: -1112px;
				left: -211px;
				// background-color: red;
			}
			.ray10 {
				height: 170px;
				width: 20px;
				transform: rotate(136deg);
				top: -1043px;
				left: 186px;
			}

			@keyframes ray_anim {
				0% {
					transform: rotate(0deg);
					// transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
					// transform: rotate(360deg);
				}
			}
			@keyframes glow {
				from {
					box-shadow: 0px 0px 40px 12px var(--color-main-1),
						inset 0px 0px 35px 20px darken(hsl(54, 100%, 50%), 10%);
					// box-shadow: ;
				}
				to {
					box-shadow: 0px 0px 70px 15px var(--color-main-1),
						inset 0px 0px 35px 20px darken(hsl(54, 100%, 50%), 10%);
					// box-shadow: inset 0px 0px 30px 20px darken(hsl(54, 100%, 50%), 15%);
				}
			}

			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	top: 0%;
			// 	left: 0%;
			// 	width: 200px;
			// 	height: 200px;
			// 	background-color: transparent;
			// 	border: 1px solid var(--color-main-1);
			// 	border-left-color: transparent;
			// 	transform: rotate(-25deg);
			// 	border-radius: inherit;
			// }
		}
	}
}
