.Landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 0rem;
	position: relative;
	padding-top: 3rem;
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)),
		url('../../assets/img/galaxy2.jpg') no-repeat 75% center / cover;

	&__planet {
		width: 200px;
		height: 200px;
		background-color: hsla(0, 0%, 100%, 0);
		box-shadow: 0 0 0px 10px rgba(98, 0, 255, 0.83),
			inset 0 0 0px 4px rgb(255, 196, 0), 0 0 0px 20px rgba(98, 0, 255, 0.43),
			inset 0 0 0px 5px rgba(98, 0, 255, 0.63);
		border-radius: 50vw;
		animation: levitate 3s linear 0s alternate-reverse infinite;
		position: absolute;
		z-index: 1;
		bottom: 229px;
		transform: translateX(-50%);
	}
	&__images {
		width: 100%;
		height: 100%;
		padding: 0;
	}

	&__content {
		width: 100%;
		// height: calc(100dvh - 60px);
		height: 100dvh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		padding-top: 2rem;

		&--welcome {
			font-weight: var(--font-weight-light1);
			font-size: 2.7rem;
			line-height: 2;
		}

		&--name {
			font-size: 2.8rem;
			font-weight: var(--font-weight-light2);
		}

		&--description {
			text-align: center;
			font-size: 2rem;
			margin: 2.5rem 0 3.5rem 0;
			line-height: 1.5;
			letter-spacing: 0.5px;
			font-family: var(--font-main);
			padding: 0 1rem;
		}

		&--button {
			padding: 0;
			padding-bottom: 0.5rem;
			text-transform: uppercase;
			border-radius: 50vw;
			height: 9.75rem;
			width: 9.75rem;
			position: relative;
			border: 5px solid hsla(54, 100%, 50%, 0);
			animation: glowBoxShadow 2.5s alternate-reverse infinite ease-in-out;
			background-color: transparent;
			color: var(--white);
			font-family: var(--font-main);
			font-weight: var(--font-weight-light2);
			font-size: 1.5rem;
			z-index: 49;

			@keyframes ray_anim {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
			@keyframes glowBoxShadow {
				0% {
					box-shadow: 0px 0px 41px 20px rgba(255, 255, 0, 0.467),
						0px 0px 0px 0px var(--color-main-1), 0px 0px 91px 20px #ffff00;
				}
				100% {
					box-shadow: 0px 0px 41px 20px rgba(255, 255, 0, 0.467),
						0px 0px 0px 0px var(--color-main-1), 0px 0px 171px 25px #ffff00;
				}
			}
		}
	}
}
@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes levitate {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-0.5rem);
	}
}
