.Landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)),
		url('../../assets/img/galaxy2.jpg') no-repeat 75% center / cover;

	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	bottom: -3rem;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 12rem;
	// 	background: url('../../assets/img/pageTransition.png') no-repeat center
	// 		center / cover;
	// 	opacity: 0.8;
	// }

	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding-bottom: 3rem;
		position: relative;
		padding-top: 1rem;

		&--welcome {
			font-weight: var(--font-weight-light1);
			font-size: 2.7rem;
			line-height: 2;
		}

		&--name {
			// margin-top: 0.5rem;
			font-size: 2.8rem;
			font-weight: var(--font-weight-light2);
		}

		&--description {
			font-size: 2rem;
			margin: 3.5rem 0 6.5rem 0;
			line-height: 1.5;
			letter-spacing: 0.5px;
			font-family: var(--font-main);
		}

		&--button {
			border: none;
			padding: 0;
			padding-bottom: 0.5rem;
			text-transform: uppercase;
			border-radius: 50vw;
			height: 9.75rem;
			width: 9.75rem;
			position: relative;
			font-size: 1.5rem;
			font-family: var(--font-main);
			font-weight: var(--font-weight-light2);
			// background-color: var(--color-main-1);
			// background-color: black;
			border: 5px solid hsla(54, 100%, 50%, 0);
			// border-color: rgba(255, 255, 0, 1);
			box-shadow: 0px 0px 0px 0px var(--color-main-1), 0px 0px 31px 0px #ff0,
				inset 0px 0px 0px 5px hsl(54deg 100% 50%);
			// box-shadow: 0px 0px 103px 0px var(--color-main-1),
			// 	0px 0px 121px 0px rgba(255, 255, 0, 1),
			// 	0px 0px 100px 14px rgba(255, 255, 0, 0.245),
			// 	inset 0px 0px 0px 5px var(--color-main-1);
			// animation: glow 3s linear alternate-reverse infinite;
			color: var(--white);
			font-family: var(--font-main);
			font-weight: var(--font-weight-light2);
			font-size: 1.5rem;
			z-index: 49;
			.ray_box {
				// height: 10.75rem;
				// width: 10.75rem;
				display: none;
				position: absolute;
				top: 50%;
				left: 50%;
				animation: ray_anim 120s linear infinite;
			}
			.ray {
				background: linear-gradient(
					to bottom,
					rgba(229, 255, 0, 0) 30%,
					rgba(255, 238, 0, 0.8) 70%,
					rgba(255, 251, 0, 0) 100%
				);
				position: absolute;
				// display: inline-block;
				opacity: 0.25;
			}

			.ray1 {
				height: 176px;
				width: 30px;
				transform: rotate(193deg);
				// top: 0px;
				// left: 0px;
				top: -199px;
				left: 7px;
			}
			.ray2 {
				height: 134px;
				width: 18px;
				transform: rotate(232deg);
				top: -154px;
				left: 91px;
				// top: 0px;
				// left: 0px;
			}
			.ray3 {
				height: 143px;
				width: 35px;
				transform: rotate(267deg);
				top: -78px;
				left: 105px;
				// top: 0px;
				// left: 0px;
			}
			.ray4 {
				height: 100px;
				width: 14px;
				transform: rotate(309deg);
				top: 25px;
				left: 100px;
				// top: 0px;
				// left: 0px;
			}
			.ray5 {
				height: 120px;
				width: 15px;
				transform: rotate(-25deg);
				top: 60px;
				left: 40px;
				// top: 0px;
				// left: 0px;
			}
			.ray6 {
				height: 130px;
				width: 20px;
				transform: rotate(16deg);
				top: 57px;
				left: -38px;
				// top: 0px;
				// left: 0px;
			}
			.ray7 {
				height: 117px;
				width: 10px;
				transform: rotate(44deg);
				top: 23px;
				left: -86px;
				// top: 0px;
				// left: 0px;
			}
			.ray8 {
				height: 130px;
				width: 25px;
				transform: rotate(85deg);
				top: -50px;
				left: -146px;
				// top: 0px;
				// left: 0px;
			}
			.ray9 {
				height: 80px;
				width: 10px;
				transform: rotate(120deg);
				top: -95px;
				left: -115px;
				// top: 0px;
				// left: 0px;
			}
			.ray10 {
				height: 190px;
				width: 23px;
				transform: rotate(151deg);
				top: -185px;
				left: -60px;
				// top: 0px;
				// left: 0px;
			}

			@keyframes ray_anim {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
			@keyframes glow {
				from {
					// box-shadow: 0px 0px 40px 12px var(--color-main-1),
					// 	inset 0px 0px 35px 20px rgba(255, 230, 0, 0.1);
					box-shadow: 0px 0px 103px 0px var(--color-main-1),
						0px 0px 121px 0px rgba(255, 255, 0, 1),
						0px 0px 100px 14px rgba(255, 255, 0, 0.245),
						inset 0px 0px 0px 5px var(--color-main-1);
				}
				to {
					// box-shadow: 0px 0px 70px 15px var(--color-main-1),
					// 	inset 0px 0px 35px 20px rgba(255, 230, 0, 0.1);
					box-shadow: 0px 0px 103px 0px var(--color-main-1),
						0px 0px 121px 10px rgba(255, 255, 0, 1),
						0px 0px 100px 14px rgba(255, 255, 0, 0.245),
						inset 0px 0px 0px 5px var(--color-main-1);
				}
			}
		}
	}
}
