.Navbar {
	width: 100%;
	height: 5.2rem;
	background-color: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.6539390756302521) 74%
	);

	z-index: 50;
	padding: 2rem;

	&__logo {
		// position: relative;
		z-index: 101;
		mix-blend-mode: unset;
		h1 {
			color: var(--color-main-1);
			font-family: var(--font-logo);
			font-size: 1.2rem;
			letter-spacing: 1px;
			z-index: 101;
			mix-blend-mode: difference;
			cursor: pointer;

			span.accentWhite {
				color: var(--white);
				&:last-child {
					margin-left: 0.4rem;
				}
			}
			span {
				&:nth-child(2) {
					// color: red;
					text-shadow: 1px 1px rgba(0, 0, 0, 0.6539390756302521);
				}
			}
		}
	}

	&__menu {
		// width: 100%;
		// height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.craters {
			position: absolute;
			left: 14.8rem;
			bottom: 8.5rem;
			// width: 100%;
			// height: 100%;
			z-index: 500;
			// transform: translate(-5px, 122px) scale(1);
			.crater {
				background-color: hsla(0, 2%, 71%, 0.5);
				height: 70px;
				width: 70px;
				border-radius: 100vw;
				position: relative;
				z-index: 501;
				&::before {
					content: '';
					position: absolute;
					height: 100%;
					width: 100%;
					border-radius: 50%;
					box-shadow: inset 12px -8px 0 0px rgb(161 161 161 / 50%);
					top: 0px;
					left: 0px;
					z-index: 502;
				}
			}
			.crater1 {
				top: 227px;
				left: -190px;
				height: calc(70px * 1.5);
				width: calc(70px * 1.5);

				&::before {
					box-shadow: inset 9px -16px 0 0px rgb(161 161 161 / 70%);
				}
			}

			.crater2 {
				bottom: -35px;
				left: -35px;
				height: calc(70px * 0.7);
				width: calc(70px * 0.7);
				&::before {
					box-shadow: inset 6px -9px 0 0px rgb(161 161 161 / 35%);
				}
			}

			.crater3 {
				left: 98px;
				top: -19px;

				height: calc(70px * 1.65);
				width: calc(70px * 1.65);

				&::before {
					box-shadow: inset 3px -14px 0 0px rgb(161 161 161 / 45%);
				}
			}

			.crater4 {
				top: 103px;
				left: 128px;
				height: calc(70px * 1.5);
				width: calc(70px * 1.5);
				&::before {
					box-shadow: inset -4px -17px 0 2px rgb(161 161 161 / 70%);
				}
			}

			.crater5 {
				top: 52px;
				left: -52px;
				height: calc(70px * 0.8);
				width: calc(70px * 0.8);
				&::before {
					box-shadow: inset 6px -13px 0 0px rgb(161 161 161 / 100%);
				}
			}
		}

		&--mobile {
			position: absolute;
			background-color: rgb(240, 240, 240);
			font-size: 1.5rem;
			display: flex;
			align-items: center;
			padding-right: 5rem;
			justify-content: center;
			flex-direction: column;
			border-radius: 100vw;
			color: var(--black);
			padding-top: 4rem;
			box-shadow: inset -40px -40px 90px 90px hsla(0, 0%, 63%, 0.714),
				0px 0px 20px 5px hsla(0, 0%, 100%, 0.714);
			right: clamp(min(-19rem), 5vw + 1rem, max(-25rem));
			z-index: 50;

			width: clamp(min(40rem), 50vw + 1rem, max(41rem));
			height: clamp(min(40rem), 50vw + 1rem, max(41rem));
			// height: 41rem;
			// active mobile nav menu
			&.active {
				.craters {
					// transform: translate(-25px, 72px) scale(1);
				}
			}

			ul {
				padding-top: 7rem;
				padding-right: 4rem;
				width: fit-content;
				height: 45%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-around;
				z-index: 501;
			}
			li {
				width: 100%;
				font-size: 1.6rem;
				font-weight: 400;
				font-family: var(--font-menu);
				margin-bottom: 3.5rem;
				width: fit-content;
				display: flex;
				align-items: center;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					letter-spacing: 1px;
					.number {
						letter-spacing: normal;
					}
				}
			}
		}
		&--toggle {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;
			height: 20px;
			width: 30px;
			position: relative;
			cursor: pointer;
			z-index: 51;
			-webkit-tap-highlight-color: transparent;
			opacity: 1;
			span {
				width: 100%;
				height: 2px;
				background-color: var(--color-main-1);

				&:nth-child(1) {
					width: 30%;
				}

				&:nth-child(2) {
					width: 60%;
				}
			}

			&.active {
				span {
					background-color: var(--black);
					&:nth-child(1) {
						transform-origin: left center;
						transform: translateY(0px) translateX(3px) rotate(45deg);
						background-color: var(--black);
						width: 100%;
					}
					&:nth-child(2) {
						transform-origin: left center;
						width: 0%;
						height: 0%;
						opacity: 0;
					}
					&:nth-child(3) {
						transform-origin: left center;
						width: 100%;
						transform: translateY(3px) translateX(2px) rotate(-45deg);
						background-color: var(--black);
					}
				}
			}
		}
	}
	.orbit {
		height: 740px;
		width: 740px;
		width: clamp(min(740px), 15vw + 1rem, max(772px));
		height: clamp(min(740px), 15vw + 1rem, max(772px));
		border-radius: 100%;
		position: absolute;
		margin: auto;
		left: 1.5rem;
		right: 0;
		bottom: 0;
		top: 50px;
		animation: spin 5s infinite linear;
		transform: rotate(120deg);
		z-index: 49;

		.rocket {
			background-color: hsla(84, 45%, 98%, 100%);
			height: 100px;
			width: 50px;
			border-radius: 50% 50% 0 0;
			position: relative;
			left: -20px;
			top: 20px;
			transform: rotate(38deg);
			z-index: -1;
			&::before {
				content: '';
				position: absolute;
				background-color: #39beff;
				background-color: rgb(218, 218, 218);
				height: 154px;
				width: 5px;
				border-radius: 12px 12px 0px 0px;
				bottom: -2px;
				left: -41px;
			}
			&::before {
				content: '';
				position: absolute;
				mix-blend-mode: overlay;
				width: 130px;
				height: 50px;
				z-index: 1;
				bottom: 0;
				background-color: #52c8ff;
			}

			&::after {
				content: '';
				position: absolute;
				background-color: hsl(0, 0%, 100%);
				background: linear-gradient(
					0deg,
					#52c8ffcc 10%,
					#7ed4fccc 40%,
					#ff6600fb 100%
				);
				height: 30px;
				width: 30px;
				border-radius: 0 0 23px 23px;
				bottom: -30px;
				left: 9.3px;
				z-index: -1;
			}

			.window {
				position: relative;
				height: 20px;
				width: 20px;
				background-color: #151845;
				border: 2px solid #b8d2ec;
				border-radius: 50%;
				top: 15px;
				left: 15px;
			}
		}
	}

	@keyframes spin {
		0% {
			transform: rotate(199deg);
		}
		100% {
			// opacity: 1;
			transform: rotate(360deg);
		}
	}
}

@keyframes menuToggle {
	0% {
		transform: translate(-25px, 72px) scale(0);
	}
	40% {
		transform: translate(-25px, 72px) scale(1.05);
	}
	65% {
		transform: translate(-25px, 72px) scale(0.95);
	}
	// 75% {
	// 	transform: translate(-25px, 72px) scale(0.95);
	// }
	100% {
		opacity: 1;
		transform: translate(-25px, 72px) scale(1);
		width: 39rem;
		height: 39rem;
	}
}

@keyframes menuExit {
	0% {
		opacity: 1;
		transform: translate(-25px, 72px) scale(1);
		width: 39rem;
		height: 39rem;
	}
	100% {
		opacity: 0;
		transform: translate(192px, -65px) scale(0);
	}
}
